.success-stories
    padding: 108px 0 148px
    &__title
        text-align: right
        color: $primary-gray
        font-style: normal;
        font-weight: 900;
        font-size: 42px;
        line-height: 145%;
.slider-wrapper
    display: flex
    align-items: center
    position: relative
.slider-info
    width: 591px
    background: linear-gradient(63.58deg, rgba(0, 156, 166, 0.51) 2.01%, rgba(28, 187, 255, 0.51) 91.54%);
    box-shadow: 13px 50px 42px -29px rgba(0, 0, 0, 0.38), inset -168px -1px 39px -40px rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(42px);
    padding: 111px 95px 109px
    border-radius: 40px 0px 0px 40px;
    &__title
        color: white
        font-weight: 900
        font-size: 30px
        line-height: 203%
        padding-bottom: 15px
    &__tags
        display: flex
        margin-bottom: 22px
    &__tag
        margin-right: 7px
        background: linear-gradient(153.11deg, #07A3AD 20.54%, #3258BA 98.13%), linear-gradient(153.11deg, #00D5E2 20.54%, #3258BA 98.13%);
        border: none;
    &__description
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: white
        max-width: 303px
.slider
    width: 565px
    position: relative
    &__content
        // padding: 0 40px;
        overflow-x: hidden
    &__background
        position: absolute
        top: -40px
        z-index: 1
        width: calc(100% + 2px)
        right: 0
    &__slides-wrapper
        display: flex
        height: inherit
        position: relative
        z-index: 2
    &__slide
        z-index: 2
        height: max-content
        flex-basis: 85%;
        transition: 0.4s
        border-radius: 10px
        opacity: 0.3
        flex-shrink: 0;
        &--active
            opacity: 1
        img
            object-fit: cover
            height: inherit;
            width: 100%
            border-radius: inherit
    &__button
        position: absolute
        top: 50%;
        width: 20px
        height: 20px
        border: none
        display: flex
        align-items: center
        justify-content: center
        right: 30px;
        transform: translateY(-50%)
        z-index: 2
        border-radius: 50%
        &:hover
            background: #139AC9
        &--prev
            right: unset;
            left: 30px

            svg
                transform: scale(-1, 1)
        &-icon
            width: 8px
            height: 8px